* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.logo {
  height: 25px;
  width: 85px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-img {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img {
  width: 100%;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  margin-top: auto;
}

.star {
  height: 14px;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}